body{
    background-color: #222831;
    color: #AAAAAA;
}

#Banner{
    margin:0 auto;
    width: 90%;
}
header{
    left: 0;
    top:0;
    width: 100%;
    height: 10%;
    background-color: #eeeeee;
    position:absolute;
    color:#4a4a4a
}
nav{
    position: relative;
    top: -42px;;
    float:right;
    line-height: 10%;
    right:20%;
}
nav a{
    padding: 36px 10px;
    text-decoration: none;
    font-size: 20;
    letter-spacing: 4px;
    margin: 0 1px;
    color:#4a4a4a
}
nav a:hover{
    color:#212121;
}

#StartDiv{
    position:absolute;
    top:100px;
    left:100px;
  }
  #EndDiv{
    position: absolute;
    top: 100px;
    left: 300px;
  }
  